<footer>
    <h1>Logo Empresa</h1>
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="contactus.html">Nosotros</a></li>
            <li><a href="#plans">Precios</a></li>
            <li><a href="#signin">Sign In</a></li>
            <li><a href="#signout">Sign Out</a></li>
        </ul>
    </nav>
</footer>